<header></header>
  
<div class="container">
  
  <form class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input id="busca" (keyup)="0" #inputBusca type="search">
    </div>
    <p *ngIf="inputBusca.value">
      Você esta procurando por : {{ inputBusca.value }}
    </p>
  </form>
  
  <div class="row">
    <div 
      card 
      class="col s12 m4 l3" 
      *ngFor="let foto of fotos | filtrarPorTitulo:inputBusca.value" 
      [titulo]="foto.titulo"
      [descricao]="foto.descricao">
      <a [routerLink]="['cadastro', foto._id]">
        <foto
          [url]="foto.url"
          [titulo]="foto.titulo">
        </foto>
      </a>
      <button 
      class="btn-floating halfway-fab waves-effect waves-light red" 
      (click)="excluirFoto(foto)"
      title="Exlcuir">
        <i class="material-icons">close</i>
      </button>
    </div>  
  </div>
  
</div>

<footer></footer>